{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>FORMULARIO 4</h1>
        <a href="{{path('form4validacionregistro_new')}}" class="btn btn-success">Nuevo formulario</a>
            
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Dep</th>
                    <th>Sie</th>
                    <th>Numboleta</th>
                    <th>Unidad Educativa</th>
                    <th>Nombres</th>
                    <th>Paterno</th>
                    <th>Materno</th>
                    <th>Fecha registro</th>
                </tr>
            </thead>
            <tbody>
            {% for form4validacionRegistro in form4validacionRegistros %}
                <tr>
                    <td>{{ form4validacionRegistro.dep }}</td>
                    <td>{{ form4validacionRegistro.sie }}</td>
                    <td>{{ form4validacionRegistro.numBoleta }}</td>
                    <td>{{ form4validacionRegistro.nomInstitucioneducativa }}</td>
                    <td>{{ form4validacionRegistro.nombres }}</td>
                    <td>{{ form4validacionRegistro.paterno }}</td>
                    <td>{{ form4validacionRegistro.materno }}</td>
                    <td>{{ form4validacionRegistro.fechaRegistro }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
