{% extends 'base.html.twig' %}

{% block body %}
    
 <ul>
        <li>
            <a href="{{ path('form4validacionregistro_index') }}">Back to the list</a>
        </li>
    </ul>

    {{ form_start(form) }}
        {# {{ form_widget(form) }} #}
        <table border="0" class="table">
            <tbody>
                <tr>
                    <td>OPERATIVO ESCOLAR - 2018</td>
                    <td>FOLIO</td> 
                    <td>{{form_widget(form.dep)}}</td>
                    <td>{{form_widget(form.sie)}}</td>
                    <td>{{form_widget(form.numBoleta)}}</td>
                
                </tr>
                
                <tr>
                    <td colspan="2"></td>
                    <td>DEP.</td>
                    <td>CODIGO UNIDAD EDUCATIVA</td>
                    <td>No. BOLETA</td>
                </tr>
            </tbody>
        </table>

         <table border="0" class="table">
            <tbody>
                <tr>
                    <td>FORMULARIO 4</td>
                    <td>REGISTROS ADMINISTRATIVOS</td>                    
                </tr>
                <tr>
                    <td colspan="2">REPORTE DE LA UNIDAD EDUCATIVA</td>
                </tr>
                <tr>
                    <td colspan="2">POR FAVOR COMPLETE LOS SIGUIENTES DATOS ACORDE A LOS DATOS OFICIALES DE LA UNIDAD EDUCATIVA</td>
                </tr>
                 <tr>
                    <td>P1. NOMBRE UNIDAD EDUCATIVA</td>
                    <td>{{form_widget(form.nomInstitucioneducativa)}}</td>                    
                </tr>

            </tbody>
        </table>

          <table border="1" class="table">
            <tbody>
                <tr>
                    <td colspan="4">DATOS DEL INFORMANTE</td>
                </tr>
                <tr>
                    <td>P2. NOMBRES</td>
                    <td>{{form_widget(form.nombres)}}</td>                    
                </tr> 
                 <tr>
                    <td>P3. APELLIDO PATERNO</td>
                    <td>{{form_widget(form.paterno)}}</td>    
                    <td>P5. ANTIGUEDAD EN LA UE</td>
                    <td>{{form_widget(form.antiguedad)}}</td>                 
                </tr> 
                 <tr>
                    <td>P4. APELLIDO MATERNO</td>
                    <td>{{form_widget(form.materno)}}</td>    
                    <td>P6. CARGO</td>
                    <td>{{form_widget(form.cargo)}}</td>                 
                </tr> 
                <tr>
                    <td>P7. FECHA</td>
                    <td>{{form_widget(form.fechaRegistro)}}</td>    
                    <td>P8. TELEFONO</td>
                    <td>{{form_widget(form.telefono)}}</td>                 
                </tr> 
            </tbody>
        </table>


        <table border="1" class="table">
            <p> NIVEL SECUNDARIO </p>
            <tbody>
                <thead>
                    <th >2016</th>
                    <th >PROMOVIDOS</th>
                    <th >REPROBADOS</th>
                    <th >RETIRADOS POR ABANDONO</th>
                    <th >RETIRADOS POR TRASLADO</th>
                    <th >NO INCORPORADOS</th>
                    <th >MATRICULA</th>
                </thead>
                <tr>
                    <td>1.</td>
                    <td>{{form_widget(form.promovidos20161)}}</td>                    
                    <td>{{form_widget(form.reprobados20161)}}</td>                    
                    <td>{{form_widget(form.abandono20161)}}</td>                    
                    <td>{{form_widget(form.traslado20161)}}</td>                    
                    <td>{{form_widget(form.noincorporados20161)}}</td>                    
                    <td>{{form_widget(form.matricula20161)}}</td>                    
                    
                    
                </tr> 
                <tr>
                    <td>2.</td>
                    <td>{{form_widget(form.promovidos20162)}}</td>                    
                    <td>{{form_widget(form.reprobados20162)}}</td>                    
                    <td>{{form_widget(form.abandono20162)}}</td>                    
                    <td>{{form_widget(form.traslado20162)}}</td>                    
                    <td>{{form_widget(form.noincorporados20162)}}</td>                    
                    <td>{{form_widget(form.matricula20162)}}</td>                    
                    
                    
                </tr> 
                <tr>
                    <td>3.</td>
                    <td>{{form_widget(form.promovidos20163)}}</td>                    
                    <td>{{form_widget(form.reprobados20163)}}</td>                    
                    <td>{{form_widget(form.abandono20163)}}</td>                    
                    <td>{{form_widget(form.traslado20163)}}</td>                    
                    <td>{{form_widget(form.noincorporados20163)}}</td>                    
                    <td>{{form_widget(form.matricula20163)}}</td>                    
                    
                    
                </tr> 
                <tr>
                    <td>4.</td>
                    <td>{{form_widget(form.promovidos20164)}}</td>                    
                    <td>{{form_widget(form.reprobados20164)}}</td>                    
                    <td>{{form_widget(form.abandono20164)}}</td>                    
                    <td>{{form_widget(form.traslado20164)}}</td>                    
                    <td>{{form_widget(form.noincorporados20164)}}</td>                    
                    <td>{{form_widget(form.matricula20164)}}</td>                    
                    
                    
                </tr> 
                <tr>
                    <td>5.</td>
                    <td>{{form_widget(form.promovidos20165)}}</td>                    
                    <td>{{form_widget(form.reprobados20165)}}</td>                    
                    <td>{{form_widget(form.abandono20165)}}</td>                    
                    <td>{{form_widget(form.traslado20165)}}</td>                    
                    <td>{{form_widget(form.noincorporados20165)}}</td>                    
                    <td>{{form_widget(form.matricula20165)}}</td>                    
                    
                    
                </tr> 
                <tr>
                    <td>6.</td>
                    <td>{{form_widget(form.promovidos20166)}}</td>                    
                    <td>{{form_widget(form.reprobados20166)}}</td>                    
                    <td>{{form_widget(form.abandono20166)}}</td>                    
                    <td>{{form_widget(form.traslado20166)}}</td>                    
                    <td>{{form_widget(form.noincorporados20166)}}</td>                    
                    <td>{{form_widget(form.matricula20166)}}</td>                    
                    
                </tr> 
                <tr>
                    <td>1.</td>
                    <td>{{form_widget(form.promovidos2016Total)}}</td>                    
                    <td>{{form_widget(form.reprobados2016Total)}}</td>                    
                    <td>{{form_widget(form.abandono2016Total)}}</td>                    
                    <td>{{form_widget(form.traslado2016Total)}}</td>                    
                    <td>{{form_widget(form.noincorporados2016Total)}}</td>                    
                    <td>{{form_widget(form.matricula2016Total)}}</td>                    
                   
                   
                </tr> 

                 
            </tbody>
        </table>

        <table border="1" class="table">
            
            <tbody>
                <thead>
                    <th >2017</th>
                    <th >PROMOVIDOS</th>
                    <th >REPROBADOS</th>
                    <th >RETIRADOS POR ABANDONO</th>
                    <th >RETIRADOS POR TRASLADO</th>
                    <th >NO INCORPORADOS</th>
                    <th >MATRICULA</th>
                </thead>
                <tr>
                    <td>1.</td>
                    <td>{{form_widget(form.promovidos20171)}}</td>                    
                    <td>{{form_widget(form.reprobados20171)}}</td>                    
                    <td>{{form_widget(form.abandono20171)}}</td>                    
                    <td>{{form_widget(form.traslado20171)}}</td>                    
                    <td>{{form_widget(form.noincorporados20171)}}</td>                    
                    <td>{{form_widget(form.matricula20171)}}</td>                    
                    
                    
                </tr> 
                <tr>
                    <td>2.</td>
                    <td>{{form_widget(form.promovidos20172)}}</td>                    
                    <td>{{form_widget(form.reprobados20172)}}</td>                    
                    <td>{{form_widget(form.abandono20172)}}</td>                    
                    <td>{{form_widget(form.traslado20172)}}</td>                    
                    <td>{{form_widget(form.noincorporados20172)}}</td>                    
                    <td>{{form_widget(form.matricula20172)}}</td>                    
                    
                    
                </tr> 
                <tr>
                    <td>3.</td>
                    <td>{{form_widget(form.promovidos20173)}}</td>                    
                    <td>{{form_widget(form.reprobados20173)}}</td>                    
                    <td>{{form_widget(form.abandono20173)}}</td>                    
                    <td>{{form_widget(form.traslado20173)}}</td>                    
                    <td>{{form_widget(form.noincorporados20173)}}</td>                    
                    <td>{{form_widget(form.matricula20173)}}</td>                    
                    
                    
                </tr> 
                <tr>
                    <td>4.</td>
                    <td>{{form_widget(form.promovidos20174)}}</td>                    
                    <td>{{form_widget(form.reprobados20174)}}</td>                    
                    <td>{{form_widget(form.abandono20174)}}</td>                    
                    <td>{{form_widget(form.traslado20174)}}</td>                    
                    <td>{{form_widget(form.noincorporados20174)}}</td>                    
                    <td>{{form_widget(form.matricula20174)}}</td>                    
                    
                    
                </tr> 
                <tr>
                    <td>5.</td>
                    <td>{{form_widget(form.promovidos20175)}}</td>                    
                    <td>{{form_widget(form.reprobados20175)}}</td>                    
                    <td>{{form_widget(form.abandono20175)}}</td>                    
                    <td>{{form_widget(form.traslado20175)}}</td>                    
                    <td>{{form_widget(form.noincorporados20175)}}</td>                    
                    <td>{{form_widget(form.matricula20175)}}</td>                    
                    
                    
                </tr> 
                <tr>
                    <td>6.</td>
                    <td>{{form_widget(form.promovidos20176)}}</td>                    
                    <td>{{form_widget(form.reprobados20176)}}</td>                    
                    <td>{{form_widget(form.abandono20176)}}</td>                    
                    <td>{{form_widget(form.traslado20176)}}</td>                    
                    <td>{{form_widget(form.noincorporados20176)}}</td>                    
                    <td>{{form_widget(form.matricula20176)}}</td>                    
                    
                </tr> 
                <tr>
                    <td>total.</td>
                    <td>{{form_widget(form.promovidos2017Total)}}</td>                    
                    <td>{{form_widget(form.reprobados2017Total)}}</td>                    
                    <td>{{form_widget(form.abandono2017Total)}}</td>                    
                    <td>{{form_widget(form.traslado2017Total)}}</td>                    
                    <td>{{form_widget(form.noincorporados2017Total)}}</td>                    
                    <td>{{form_widget(form.matricula2017Total)}}</td>                    
                   
                   
                </tr> 

                 
            </tbody>
        </table>

  <button type="submit" class="btn btn-success">Guardar</button>
        
    {{ form_end(form) }}

   

{% endblock %}
