{% extends 'base.html.twig' %}
{% block title %}OPERATIVO ESCOLAR - 2018{% endblock %}
{% block stylesheets %}
{{parent()}}
<style type="text/css">
    table{
        width: 100%;
    }
    textarea{
        width: 100%;
    }
    .bgoscuro{
        background: #000000;
        color: #FFFFFF;
        text-align: center;
        padding: 10px;
        font-weight: bold;
    }
    .bggris{
        background: #858383;
        color: #FFFFFF;
        text-align: center;
        padding: 10px;
        font-weight: bold;
    }
    .bggrisclaro{
        background: #CCCCCC;
        color: #000000;
        text-align: center;
        padding: 10px;
        font-weight: bold;
    }
</style>
{% endblock %}
{% block body %}
    {% include 'AdmMaster/menuforms.html.twig' %}
    <div class="container">
		{{ form_start(form) }}
			<div class="text-right">
				<a href="{{path('form4validacionregistro_index')}}">Ver formularios registrados</a>
			</div>
			<div class="row">
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<h2>OPERATIVO ESCOLAR - 2018</h2>
					<p>SUBSISTEMA DE EDUCACIÓN REGULAR - NIVEL SECUNDARIO</p>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<table>
						<tr>
							<td>{{form_widget(form.dep, {'attr': {'maxlength': 1, 'required': 'true', 'style': 'text-transform:uppercase'}})}}</td>
							<td>{{form_widget(form.sie, {'attr': {'minlength': 8, 'maxlength': 8, 'required': 'true', 'style': 'text-transform:uppercase'}})}}</td>
							<td>{{form_widget(form.numBoleta, {'attr': {'maxlength': 1, 'required': 'true', 'style': 'text-transform:uppercase'}})}}</td>
						</tr>
						<tr>
							<td>DEP</td>
							<td>CÓDIGO UNIDAD EDUCATIVA</td>
							<td>N BOLETA</td>
						</tr>
					</table>
				</div>
            </div>
            
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="row">
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 bggris">
                            <h3>FORMULARIO 4</h3>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 bggrisclaro">
                            <h3>REGISTROS ADMINISTRATIVOS</h3>
                            <h3>REPORTE DE LA UNIDAD EDUCATIVA</h3>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <img src="{{asset('logo.png')}}" alt="" class="img-fluid">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bgoscuro">
                            POR FAVOR COMPLETE LOS SIGUIENTES DATOS ACORDE A LOS DATOS OFICIALES DE LA UNIDAD EDUCATIVA
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <table class="table table-bordered table-striped">
                        <tbody>
                            <tr>
                                <th>P1. NOMBRE UNIDAD EDUCATIVA</td>
                                <td colspan="8">{{form_widget(form.nomInstitucioneducativa, {'attr': {'class': 'form-control', 'style': 'text-transform:uppercase'}})}}</td>                    
                            </tr>
                            <tr>
                                <td colspan="4" class="bggrisclaro">DATOS DEL INFORMANTE</td>
                            </tr>
                            <tr>
                                <th>P2. NOMBRES</th>
                                <td>{{form_widget(form.nombres, {'attr': {'class': 'form-control', 'style': 'text-transform:uppercase'}})}}</td>                    
                            </tr> 
                            <tr>
                                <th>P3. APELLIDO PATERNO</th>
                                <td>{{form_widget(form.paterno, {'attr': {'class': 'form-control', 'style': 'text-transform:uppercase'}})}}</td>    
                                <th>P5. ANTIGUEDAD EN LA UE</th>
                                <td>{{form_widget(form.antiguedad, {'attr': {'class': 'form-control', 'style': 'text-transform:uppercase'}})}}</td>                 
                            </tr> 
                            <tr>
                                <th>P4. APELLIDO MATERNO</th>
                                <td>{{form_widget(form.materno, {'attr': {'class': 'form-control', 'style': 'text-transform:uppercase'}})}}</td>    
                                <th>P6. CARGO</th>
                                <td>{{form_widget(form.cargo, {'attr': {'class': 'form-control', 'style': 'text-transform:uppercase'}})}}</td>                 
                            </tr> 
                            <tr>
                                <th>P7. FECHA</th>
                                <td>{{form_widget(form.fechaRegistro, {'attr': {'class': 'form-control', 'readonly': 'readonly'}})}}</td>    
                                <th>P8. TELEFONO</th>
                                <td>{{form_widget(form.telefono, {'attr': {'class': 'form-control', 'style': 'text-transform:uppercase'}})}}</td>                 
                            </tr> 
                        </tbody>
                    </table>

                    <table class="table table-bordered table-striped text-center">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bgoscuro">
                                NIVEL SECUNDARIO
                            </div>
                        </div>
                        <thead>
                            <th class="bgoscuro">2016</th>
                            <th >PROMOVIDOS</th>
                            <th >REPROBADOS</th>
                            <th >RETIRADOS POR ABANDONO</th>
                            <th >RETIRADOS POR TRASLADO</th>
                            <th >NO INCORPORADOS</th>
                            <th >TOTAL</th>
                        </thead>
                        <tbody>
                            <tr>
                                <th>1°</th>
                                <td>{{form_widget(form.promovidos20161, {'attr': {'size': 2, 'onchange':'plusNumber1_2016(this.value)','class':'krlos','onblur':'sumcol1(this.value,"krlos1")' }})}}</td>                    
                                <td>{{form_widget(form.reprobados20161, {'attr': {'size': 2, 'onchange':'plusNumber1_2016(this.value)','class':'krlos'}})}}</td>                    
                                <td>{{form_widget(form.abandono20161, {'attr': {'size': 2, 'onchange':'plusNumber1_2016(this.value)','class':'krlos'}})}}</td>                    
                                <td>{{form_widget(form.traslado20161, {'attr': {'size': 2, 'onchange':'plusNumber1_2016(this.value)','class':'krlos'}})}}</td>                    
                                <td>{{form_widget(form.noincorporados20161, {'attr': {'size': 2, 'onchange':'plusNumber1_2016(this.value)','class':'krlos'}})}}</td>                    
                                <td>{{form_widget(form.matricula20161, {'attr': {'size': 4, 'readonly':'true'}})}}</td>                    
                                
                                
                            </tr> 
                            <tr>
                                <th>2°</th>
                                <td>{{form_widget(form.promovidos20162, {'attr': {'size': 2, 'onchange':'plusNumber2_2016(this.value)','class':'krlos2','onblur':'sumcol1(this.value,"krlos2")'}})}}</td>                    
                                <td>{{form_widget(form.reprobados20162, {'attr': {'size': 2, 'onchange':'plusNumber2_2016(this.value)','class':'krlos2'}})}}</td>                    
                                <td>{{form_widget(form.abandono20162, {'attr': {'size': 2, 'onchange':'plusNumber2_2016(this.value)','class':'krlos2'}})}}</td>                    
                                <td>{{form_widget(form.traslado20162, {'attr': {'size': 2, 'onchange':'plusNumber2_2016(this.value)','class':'krlos2'}})}}</td>                    
                                <td>{{form_widget(form.noincorporados20162, {'attr': {'size': 2, 'onchange':'plusNumber2_2016(this.value)','class':'krlos2'}})}}</td>                    
                                <td>{{form_widget(form.matricula20162, {'attr': {'size': 4, 'readonly':'true'}})}}</td>                    
                                
                                
                            </tr> 
                            <tr>
                                <th>3°</th>
                                <td>{{form_widget(form.promovidos20163, {'attr': {'size': 2, 'onchange':'plusNumber3_2016(this.value)','class':'krlos3','onblur':'sumcol1(this.value,"krlos3")'}})}}</td>                    
                                <td>{{form_widget(form.reprobados20163, {'attr': {'size': 2, 'onchange':'plusNumber3_2016(this.value)','class':'krlos3'}})}}</td>                    
                                <td>{{form_widget(form.abandono20163, {'attr': {'size': 2, 'onchange':'plusNumber3_2016(this.value)','class':'krlos3'}})}}</td>                    
                                <td>{{form_widget(form.traslado20163, {'attr': {'size': 2, 'onchange':'plusNumber3_2016(this.value)','class':'krlos3'}})}}</td>                    
                                <td>{{form_widget(form.noincorporados20163, {'attr': {'size': 2, 'onchange':'plusNumber3_2016(this.value)','class':'krlos3'}})}}</td>                    
                                <td>{{form_widget(form.matricula20163, {'attr': {'size': 4, 'readonly':'true'}})}}</td>
                            </tr> 
                            <tr>
                                <th>4°</th>
                                <td>{{form_widget(form.promovidos20164, {'attr': {'size': 2, 'onchange':'plusNumber4_2016(this.value)','class':'krlos4','onblur':'sumcol1(this.value,"krlos4")'}})}}</td>                    
                                <td>{{form_widget(form.reprobados20164, {'attr': {'size': 2, 'onchange':'plusNumber4_2016(this.value)','class':'krlos4'}})}}</td>                    
                                <td>{{form_widget(form.abandono20164, {'attr': {'size': 2, 'onchange':'plusNumber4_2016(this.value)','class':'krlos4'}})}}</td>                    
                                <td>{{form_widget(form.traslado20164, {'attr': {'size': 2, 'onchange':'plusNumber4_2016(this.value)','class':'krlos4'}})}}</td>                    
                                <td>{{form_widget(form.noincorporados20164, {'attr': {'size': 2, 'onchange':'plusNumber4_2016(this.value)','class':'krlos4'}})}}</td>                    
                                <td>{{form_widget(form.matricula20164, {'attr': {'size': 4, 'readonly':'true'}})}}</td>
                            </tr> 
                            <tr>
                                <th>5°</th>
                                <td>{{form_widget(form.promovidos20165, {'attr': {'size': 2, 'onchange':'plusNumber5_2016(this.value)','class':'krlos5','onblur':'sumcol1(this.value,"krlos5")'}})}}</td>                    
                                <td>{{form_widget(form.reprobados20165, {'attr': {'size': 2, 'onchange':'plusNumber5_2016(this.value)','class':'krlos5'}})}}</td>                    
                                <td>{{form_widget(form.abandono20165, {'attr': {'size': 2, 'onchange':'plusNumber5_2016(this.value)','class':'krlos5'}})}}</td>                    
                                <td>{{form_widget(form.traslado20165, {'attr': {'size': 2, 'onchange':'plusNumber5_2016(this.value)','class':'krlos5'}})}}</td>                    
                                <td>{{form_widget(form.noincorporados20165, {'attr': {'size': 2, 'onchange':'plusNumber5_2016(this.value)','class':'krlos5'}})}}</td>                    
                                <td>{{form_widget(form.matricula20165, {'attr': {'size': 4, 'readonly':'true'}})}}</td>
                            </tr> 
                            <tr>
                                <th>6°</th>
                                <td>{{form_widget(form.promovidos20166, {'attr': {'size': 2, 'onchange':'plusNumber6_2016(this.value)','class':'krlos6','onblur':'sumcol1(this.value,"krlos6")'}})}}</td>                    
                                <td>{{form_widget(form.reprobados20166, {'attr': {'size': 2, 'onchange':'plusNumber6_2016(this.value)','class':'krlos6'}})}}</td>                    
                                <td>{{form_widget(form.abandono20166, {'attr': {'size': 2, 'onchange':'plusNumber6_2016(this.value)','class':'krlos6'}})}}</td>                    
                                <td>{{form_widget(form.traslado20166, {'attr': {'size': 2, 'onchange':'plusNumber6_2016(this.value)','class':'krlos6'}})}}</td>
                                <td>{{form_widget(form.noincorporados20166, {'attr': {'size': 2, 'onchange':'plusNumber6_2016(this.value)','class':'krlos6'}})}}</td>
                                <td>{{form_widget(form.matricula20166, {'attr': {'size': 4, 'readonly':'true'}})}}</td> 
                            </tr> 
                            <tr>
                                <th>TOTAL</th>
                                <td>{{form_widget(form.promovidos2016Total, {'attr': {'size': 4}})}}</td>                    
                                <td>{{form_widget(form.reprobados2016Total, {'attr': {'size': 4}})}}</td>                    
                                <td>{{form_widget(form.abandono2016Total, {'attr': {'size': 4}})}}</td>                    
                                <td>{{form_widget(form.traslado2016Total, {'attr': {'size': 4}})}}</td>                    
                                <td>{{form_widget(form.noincorporados2016Total, {'attr': {'size': 4}})}}</td>                    
                                <td>{{form_widget(form.matricula2016Total, {'attr': {'size': 4}})}}</td>
                            </tr>        
                        </tbody>
                    </table>
                </div>
            </div>
            
            <div class="clearfix"></div>

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <table class="table table-bordered table-striped text-center">
                        <thead>
                            <th class="bgoscuro">2017</th>
                            <th >PROMOVIDOS</th>
                            <th >REPROBADOS</th>
                            <th >RETIRADOS POR ABANDONO</th>
                            <th >RETIRADOS POR TRASLADO</th>
                            <th >NO INCORPORADOS</th>
                            <th >TOTAL</th>
                        </thead>
                        <tbody>
                            <tr>
                                <th>1°</th>
                                <td>{{form_widget(form.promovidos20171, {'attr': {'size': 4}})}}</td>                    
                                <td>{{form_widget(form.reprobados20171, {'attr': {'size': 4}})}}</td>                    
                                <td>{{form_widget(form.abandono20171, {'attr': {'size': 4}})}}</td>                    
                                <td>{{form_widget(form.traslado20171, {'attr': {'size': 4}})}}</td>                    
                                <td>{{form_widget(form.noincorporados20171, {'attr': {'size': 4}})}}</td>                    
                                <td>{{form_widget(form.matricula20171, {'attr': {'size': 4}})}}</td>                    
                            </tr> 
                            <tr>
                                <th>2°</th>
                                <td>{{form_widget(form.promovidos20172, {'attr': {'size': 4}})}}</td>                    
                                <td>{{form_widget(form.reprobados20172, {'attr': {'size': 4}})}}</td>                    
                                <td>{{form_widget(form.abandono20172, {'attr': {'size': 4}})}}</td>                    
                                <td>{{form_widget(form.traslado20172, {'attr': {'size': 4}})}}</td>                    
                                <td>{{form_widget(form.noincorporados20172, {'attr': {'size': 4}})}}</td>                    
                                <td>{{form_widget(form.matricula20172, {'attr': {'size': 4}})}}</td>                    
                            </tr> 
                            <tr>
                                <th>3°</th>
                                <td>{{form_widget(form.promovidos20173, {'attr': {'size': 4}})}}</td>                    
                                <td>{{form_widget(form.reprobados20173, {'attr': {'size': 4}})}}</td>                    
                                <td>{{form_widget(form.abandono20173, {'attr': {'size': 4}})}}</td>                    
                                <td>{{form_widget(form.traslado20173, {'attr': {'size': 4}})}}</td>                    
                                <td>{{form_widget(form.noincorporados20173, {'attr': {'size': 4}})}}</td>                    
                                <td>{{form_widget(form.matricula20173, {'attr': {'size': 4}})}}</td>                    
                            </tr> 
                            <tr>
                                <th>4°</th>
                                <td>{{form_widget(form.promovidos20174, {'attr': {'size': 4}})}}</td>                    
                                <td>{{form_widget(form.reprobados20174, {'attr': {'size': 4}})}}</td>                    
                                <td>{{form_widget(form.abandono20174, {'attr': {'size': 4}})}}</td>                    
                                <td>{{form_widget(form.traslado20174, {'attr': {'size': 4}})}}</td>                    
                                <td>{{form_widget(form.noincorporados20174, {'attr': {'size': 4}})}}</td>                    
                                <td>{{form_widget(form.matricula20174, {'attr': {'size': 4}})}}</td>                    
                            </tr> 
                            <tr>
                                <th>5°</th>
                                <td>{{form_widget(form.promovidos20175, {'attr': {'size': 4}})}}</td>                    
                                <td>{{form_widget(form.reprobados20175, {'attr': {'size': 4}})}}</td>                    
                                <td>{{form_widget(form.abandono20175, {'attr': {'size': 4}})}}</td>                    
                                <td>{{form_widget(form.traslado20175, {'attr': {'size': 4}})}}</td>                    
                                <td>{{form_widget(form.noincorporados20175, {'attr': {'size': 4}})}}</td>                    
                                <td>{{form_widget(form.matricula20175, {'attr': {'size': 4}})}}</td>                    
                            </tr> 
                            <tr>
                                <th>6°</th>
                                <td>{{form_widget(form.promovidos20176, {'attr': {'size': 4}})}}</td>                    
                                <td>{{form_widget(form.reprobados20176, {'attr': {'size': 4}})}}</td>                    
                                <td>{{form_widget(form.abandono20176, {'attr': {'size': 4}})}}</td>                    
                                <td>{{form_widget(form.traslado20176, {'attr': {'size': 4}})}}</td>                    
                                <td>{{form_widget(form.noincorporados20176, {'attr': {'size': 4}})}}</td>                    
                                <td>{{form_widget(form.matricula20176, {'attr': {'size': 4}})}}</td>                    
                            </tr> 
                            <tr>
                                <th>TOTAL</th>
                                <td>{{form_widget(form.promovidos2017Total, {'attr': {'size': 4}})}}</td>                    
                                <td>{{form_widget(form.reprobados2017Total, {'attr': {'size': 4}})}}</td>                    
                                <td>{{form_widget(form.abandono2017Total, {'attr': {'size': 4}})}}</td>                    
                                <td>{{form_widget(form.traslado2017Total, {'attr': {'size': 4}})}}</td>                    
                                <td>{{form_widget(form.noincorporados2017Total, {'attr': {'size': 4}})}}</td>                    
                                <td>{{form_widget(form.matricula2017Total, {'attr': {'size': 4}})}}</td>                    
                            </tr>
                        </tbody>
                    </table>
                    <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <br>
                                <button type="submit" class="btn btn-primary btn-block">Guardar</button>
                            </td>
                        </tr>
                </div>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
{% block javascripts %}
{{parent()}}
<script>
    var hoy = new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate());
    var minimo = new Date('2018-10-01');
    $('#appbundle_form4validacionregistro_fechaRegistro').datepicker({
        uiLibrary: 'bootstrap4',
        iconsLibrary: 'fontawesome',
        format: 'dd-mm-yyyy',
        locale: 'es-es',
        minDate: minimo,
        maxDate: hoy
    });


 


</script>

<script type="text/javascript" src="{{ asset('krlosjs.js') }}"></script>
{% endblock %}