<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Cuestionario 1</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<style type="text/css">
		table{
			width: 100%;
		}
		textarea{
			width: 100%;
		}
		.bgoscuro{
			background: #000000;
			color: #FFFFFF;
			text-align: center;
			padding: 10px;
			font-weight: bold;
		}
		.bggris{
			background: #858383;
			color: #FFFFFF;
			text-align: center;
			padding: 10px;
			font-weight: bold;
		}
		.bggrisclaro{
			background: #CCCCCC;
			color: #000000;
			text-align: center;
			padding: 10px;
			font-weight: bold;
		}
	</style>
</head>
<body>
{% include 'AdmMaster/menuforms.html.twig' %}
<div class="container">
    
    <div class="header-content">
        <h1>FORMULARIO 1</h1>
        
    </div>
    
        <a href="{{path('form_uno_new_display')}}" class="btn btn-success">Nuevo formulario</a>
    <div class="body-content animated fadeIn">
        <div class="row">
            <div class="panel-body" style="width:900px; margin:0 auto;">
                <div id="list">
                    {% if po %}
                    <div class="table-responsive">                
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Folio</th>                                    
                                    <th>Nombres</th>
                                    <th>Paterno</th>
                                    <th>Materno</th>                                    
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if po %}    
                                    {% for data in po %}                                                                
                                        <tr>
                                            <td>
                                                <b class="text-block">{{loop.index}}</b>
                                            </td>
                                            <td>
                                                {{data.dep}} - {{data.cod_unidad_educativa}} - {{data.nboleta}}
                                            </td>                                            
                                            <td>
                                                {{data.nombre}}
                                            </td>
                                            <td>
                                                {{data.paterno}}
                                            </td>
                                            <td>  
                                                {{data.materno}}
                                            </td>
                                            <td class="text-center">                                                    
                                                {% if ((data.dep == "") or (data.cod_unidad_educativa == "") or (data.nboleta == "") or (data.nombre == "") ) %}
                                                    <p class="text-danger">Formulario incompleto</p>
                                                {% endif %}
                                                {% if (data.id in idval) %}
                                                    <p class="text-danger">Folio duplicado</p>
                                                {% endif %}
                                                <a href="{{ path('form_uno_update', { 'idfactor': data.id }) }}" class="btn btn-primary">Editar</a>
                                                <a href="{{ path('form_uno_delete', { 'idfactor': data.id }) }}" class="btn btn-danger" onclick="return confirm('Esta seguro de que desea eliminar el registro?')">Eliminar</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>                
                    {% endif %}
                </div>    
            </div>
        </div>
    </div>
</div>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>
