<div class="header-content">
    <h2><i class="glyphicon glyphicon-leaf"></i> Control de Formularios. <span>Se ha registrado a los siguientes docentes.</span></h2>    
</div>

<div class="row">
    <div class="col-lg-12 col-md-12">
        <form id="formnuevocurso" nombre="formnuevocurso" action={{path('form_uno_insert')}} method="post" style="">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <div class="pull-left">
                    <h3 class="panel-title"><i class="fa fa-outdent"></i> Datos del Maestro</h3>
                </div>
                <div class="pull-right">
                    <button class="btn btn-sm" data-action="collapse" data-toggle="tooltip" data-placement="top" data-title="Collapse"><i class="fa fa-angle-up"></i></button>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
                
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            OPERATIVO ESCOLAR - 2018
                        </div>
                        <div class="col-md-6">
                            FOLIO <input type="text" name="folio" value="{{po_index[0].folio}}">
                        </div>
                    </div>
                </div>
                
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            Subsistema de educación regular - nivel secundario
                        </div>
                        <div class="col-md-6">
                            Dep - Código unidad educativa - n° Boleta
                        </div>
                    </div>
                </div>
                
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            FORMULARIO 1
                        </div>
                        <div class="col-md-6">
                            DIRECTOR / DOCENTE / ADMINISTRATIVO
                        </div>
                    </div>
                </div>
                
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            POR FAVOR RESPONDA LAS SIGUIENTES PREGUNTAS
                        </div>
                    </div>
                </div>
                
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">P1. Nombre(s):</label>
                                <input type="text" name="nombre" value="{{po_index[0].nombre}}">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">P2. Apellido Paterno:</label>
                                <input type="text" name="paterno" value="{{po_index[0].paterno}}">
                            </div>
                        </div>                       
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">P3. Apellido Materno:</label>
                                <input type="text" name="materno" value="{{po_index[0].materno}}">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">P4. Unidad Educativa:</label>
                                <input type="text" name="nombre" value="{{po_index[0].unidad_educativa}}">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">P2. Apellido Paterno:</label>
                                <input type="text" name="paterno" value="{{po_index[0].paterno}}">
                            </div>
                        </div>                       
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">P3. Apellido Materno:</label>
                                <input type="text" name="materno" value="{{po_index[0].materno}}">
                            </div>
                        </div>
                    </div>
                </div>  
                
            </div>
        </div>               
    </div>

    {% if po_fac %}
        <div class="table-responsive">                
            <table class="table table-no-border table-middle table-lilac">
                <tbody>
                    <tr>
                        <td align="left" class="warning"><b class="text-block">Factor Tipo</b></td>
                        <td align="center" class="warning"><b class="text-block">Factor</b></td>                                
                        <td align="left" class="warning"><b class="text-block">Seleccion</b></td>
                        <td align="left" class="warning"><b class="text-block">Orden de Importancia</b></td>
                        <td align="left" class="warning"><b class="text-block">Por que</b></td>                            
                        <td align="left" class="warning"><b class="text-block">Cod</b></td>
                        <td align="left" class="warning"><b class="text-block">Id</b></td>
                    </tr>
                    
                    {% for data in po_fac %}                                                                
                        <tr>
                            <td>
                                {{data.factor_tipo}}
                            </td>
                            <td>
                                {{data.factor}}
                            </td>
                            <td> {% if data.seleccion == 1  %}
                                    <input type="checkbox" name="sel_{{loop.index}}" value="{{data.seleccion}}" checked="checked"> ({{loop.index}})<br>
                                {% else %}
                                    <input type="checkbox" name="sel_{{loop.index}}" value="{{data.seleccion}}"> ({{loop.index}})<br>
                                {% endif %}    
                            </td>
                            <td>                                
                                <input type="text" name="orden_{{loop.index}}" value="{{data.orden_importancia}}">
                            </td>
                            <td>
                                <input type="text" name="porque_{{loop.index}}" value="{{data.por_que}}">
                            </td>                                
                            <td>  
                                {{data.cod}}
                            </td>                                    
                            <td>
                                <input type="text" name="id_{{loop.index}}" value="{{data.id}}">
                            </td>
                        </tr>
                    {% endfor %}
                    
                    </tbody>
                </table>
            </div>
        </div>                                 
    {% endif %}


    <div class="modal-footer">
        <div class="form-footer">
            <div class="col-sm-offset-5">                    
                <button id="botonguardarmodulo" type="submit" class="btn btn-success btn-stroke">
                    <i class="fa fa-floppy-o"></i> Guardar
                </button>
            </div>
        </div>
    </div>
    </form> 
</div>


{#<div class="row">
    <div class="panel-body">
        <div id="list">
            {% if po_index %}
            <div class="table-responsive">                
                <table class="table table-no-border table-middle table-lilac">
                    <tbody>
                        <tr>
                            <td align="left" class="warning"><b class="text-block">Nombre</b></td>
                            <td align="center" class="warning"><b class="text-block">Paterno</b></td>                                
                            <td align="left" class="warning"><b class="text-block">Materno</b></td>
                            <td align="left" class="warning"><b class="text-block">Unidad Educativa</b></td>
                            <td align="left" class="warning"><b class="text-block">Telefono</b></td>
                        </tr>                        
                        {% for data in po_index %}                                                                
                            <tr>
                                <td>
                                    {{data.nombre}}
                                </td>
                                <td>
                                    {{data.paterno}}
                                </td>
                                <td>
                                    {{data.materno}}
                                </td>
                                <td>
                                    {{data.unidad_educativa}}
                                </td>
                                <td>  
                                    {{data.telefono}}
                                </td>                                    
                            </tr>
                        {% endfor %}                        
                        </tbody>
                    </table>
                </div>
            </div>                                 
            {% endif %}            
        </div>    
    </div>
</div>#}