<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Cuestionario 1</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style type="text/css">
        table{
        			width: 100%;
        		}
        		textarea{
        			width: 100%;
        		}
        		.bgoscuro{
        			background: #000000;
        			color: #FFFFFF;
        			text-align: center;
        			padding: 10px;
        			font-weight: bold;
        		}
        		.bggris{
        			background: #858383;
        			color: #FFFFFF;
        			text-align: center;
        			padding: 10px;
        			font-weight: bold;
        		}
        		.bggrisclaro{
        			background: #CCCCCC;
        			color: #000000;
        			text-align: center;
        			padding: 10px;
        			font-weight: bold;
        		}
    </style>
</head>

<body>
    {% include 'AdmMaster/menuforms.html.twig' %}
    <div class="container">
        <div class="text-right">
            <a href="{{path('form_uno_homepage')}}">Ver formularios registrados</a>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <form id="formnuevocurso" nombre="formnuevocurso" action={{path( 'form_uno_insert')}} method="post" style="">
                    <div class="panel panel-danger">

                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <h2>OPERATIVO ESCOLAR - 2018</h2>
                                    <p>SUBSISTEMA DE EDUCACIÓN REGULAR - NIVEL SECUNDARIO</p>

                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <table>
                                        <tr>
                                            <td><input type="text" name="dep" value="{{po_index[0].dep}}"></td>
                                            <td><input type="text" name="cod_unidad_educativa" value="{{po_index[0].cod_unidad_educativa}}"></td>
                                            <td><input type="text" name="nboleta" value="{{po_index[0].nboleta}}"></td>
                                        </tr>
                                        <tr>
                                            <td>DEP</td>
                                            <td>CÓDIGO UNIDAD EDUCATIVA</td>
                                            <td>N BOLETA</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="row">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 bggris">
                        <h3>FORMULARIO 1</h3>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 bggrisclaro">
                        <h3>DIRECTOR / DOCENTE / ADMINISTRATIVO </h3>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <img src="{{asset('logo.png')}}" alt="" class="img-fluid">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bgoscuro">
                        POR FAVOR COMPLETE LOS SIGUIENTES DATOS ACORDE A LOS DATOS OFICIALES DE LA UNIDAD EDUCATIVA
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <table class="table table-bordered table-striped">
            <tbody>
                <tr>
                    <th>P1.NOMBRE</td>
                        <td colspan="8"><input type="text" name="nombre" value="{{po_index[0].nombre}}"></td>
                        <th>P2.PATERNO</td>
                            <td colspan="8"><input type="text" name="paterno" value="{{po_index[0].paterno}}"></td>
                            <th>P3.MATERNO</td>
                                <td colspan="8"><input type="text" name="materno" value="{{po_index[0].materno}}"></td>
                </tr>
                <tr>
                    <th>P4. UNIDAD EDUCATIVA</td>
                        <td colspan="8"><input type="text" name="unidad_educativa" value="{{po_index[0].unidad_educativa}}"></td>
                        <th>P5. SEXO</td>
                            <td colspan="8">
                                {% if po_index[0].sexo == 1 %}
                                <input type="radio" name="sexo" id="sexo" value="1" checked="checked"> Hombre
                                <input type="radio" name="sexo" id="sexo" value="2"> Mujer {% elseif po_index[0].sexo == 2 %}
                                <input type="radio" name="sexo" id="sexo" value="1"> Hombre
                                <input type="radio" name="sexo" id="sexo" value="2" checked="checked"> Mujer {% else %}
                                <input type="radio" name="sexo" id="sexo" value="1" checked="checked"> Hombre
                                <input type="radio" name="sexo" id="sexo" value="2"> Mujer {% endif %}
                            </td>
                            <th>P6. TELÉFONO</td>
                                <td colspan="8"><input type="text" name="telefono" value="{{po_index[0].telefono}}"></td>

                </tr>
                <tr>
                    <th>P7. CARGO QUE DESEMPEÑA EN LA UNIDAD EDUCATIVA</td>
                        <td colspan="8">
                            {% if po_index[0].cargo == 1 %}
                            <input type="radio" name="cargo" id="cargo" value="1" checked="checked"> 1. Docente
                            <input type="radio" name="cargo" id="cargo" value="2"> 2. Director
                            <input type="radio" name="cargo" id="cargo" value="3"> 3. Administrativo {% elseif po_index[0].cargo == 2 %}
                            <input type="radio" name="cargo" id="cargo" value="1"> 1. Docente
                            <input type="radio" name="cargo" id="cargo" value="2" checked="checked"> 2. Director
                            <input type="radio" name="cargo" id="cargo" value="3"> 3. Administrativo {% elseif po_index[0].cargo == 3 %}
                            <input type="radio" name="cargo" id="cargo" value="1"> 1. Docente
                            <input type="radio" name="cargo" id="cargo" value="2"> 2. Director
                            <input type="radio" name="cargo" id="cargo" value="3" checked="checked"> 3. Administrativo {% else %}
                            <input type="radio" name="cargo" id="cargo" value="1" checked="checked"> 1. Docente
                            <input type="radio" name="cargo" id="cargo" value="2"> 2. Director
                            <input type="radio" name="cargo" id="cargo" value="3"> 3. Administrativo {% endif %}
                        </td>
                </tr>
                <tr>
                    <th>P8. (SOLO PARA PERSONAL CON TRES O MÁS AÑOS DE ANTIGÜEDAD EN LA UNIDAD EDUCATIVA) ¿CUÁNTOS AÑOS USTED TRABAJA EN ESTA UNIDAD EDUCATIVA?</th>
                    <td colspan="8"><input type="text" name="p8" value="{{po_index[0].p8}}"></td>
                    <th>P9. (SI ES PROFESOR), AÑO(S) DE ESCOLARIDAD EN EL NIVEL SECUNDARIO EN LOS QUE TRABAJABA EN 2016 </th>
                    
                    <td colspan="8">
                        {% if (po_index[0].p9_1 == 1) %}
                            <input type="checkbox" name="esc_1" id="esc_1" checked="checked"> 1
                        {% else %}
                            <input type="checkbox" name="esc_1" id="esc_1"> 1
                        {% endif %}

                        {% if (po_index[0].p9_2 == 1) %}
                            <input type="checkbox" name="esc_2" id="esc_2" checked="checked"> 2
                        {% else %}
                            <input type="checkbox" name="esc_2" id="esc_2"> 2
                        {% endif %}

                        {% if (po_index[0].p9_3 == 1) %}
                            <input type="checkbox" name="esc_3" id="esc_3" checked="checked"> 3
                        {% else %}
                            <input type="checkbox" name="esc_3" id="esc_3"> 3
                        {% endif %}

                        {% if (po_index[0].p9_4 == 1) %}
                            <input type="checkbox" name="esc_4" id="esc_4" checked="checked"> 4
                        {% else %}
                            <input type="checkbox" name="esc_4" id="esc_4"> 4
                        {% endif %}

                        {% if (po_index[0].p9_5 == 1) %}
                            <input type="checkbox" name="esc_5" id="esc_5" checked="checked"> 5
                        {% else %}
                            <input type="checkbox" name="esc_5" id="esc_5"> 5
                        {% endif %}    

                        {% if (po_index[0].p9_6 == 1) %}
                            <input type="checkbox" name="esc_6" id="esc_6" checked="checked"> 6
                        {% else %}
                            <input type="checkbox" name="esc_6" id="esc_6"> 6
                        {% endif %}    
                        
                    </td>

                    <!--<td colspan="8"><input type="text" name="p9" value=""></td>-->
                    <th>P10. (SI ES PROFESOR), ¿QUÉ MATERIA(s) DICTABA EN 2016?</th>
                    <td colspan="8"><input type="text" name="p10" value="{{po_index[0].p10}}"></td>
                </tr>
            </tbody>
        </table>


        <br/>

        <div class="col-md-12" style="display: none">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <input type="text" name="id_principal" value="{{po_index[0].id}}">
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-12 col-md-12">
                {% if po_fac %}
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <th colspan="2" class="bggrisclaro">P11. SEGÚN SU PERCEPCIÓN, ¿CUÁLES FUERON LOS FACTORES DETERMINANTES PARA QUE LOS ESTUDIANTES QUE CURSARON EN LA GESTIÓN 2016 EN EL NIVEL SECUNDARIO NO SE INSCRIBIERAN EN LA GESTIÓN 2017?</th>
                            <th class="bggrisclaro">MARQUE LAS QUE CORRESPONDA CON UNA “X”</th>
                            <th class="bggrisclaro">ENUMERE POR ORDEN DE IMPORTANCIA</th>
                            <th class="bggrisclaro">¿POR QUÉ?</th>
                        </thead>
                        <tbody>

                            {% for data in po_fac %}
                            <tr>
                                <td>
                                    {{data.factor_tipo}}
                                </td>
                                <td>
                                    {{data.factor}}
                                </td>
                                <td>
                                    {% if data.seleccion == 1 %}
                                        <input type="checkbox" class="escolaridad" name="sel_{{loop.index}}"  value="{{data.seleccion}}" checked="checked"> ({{loop.index}})<br>
                                    {% else %}
                                        <input type="checkbox" class="escolaridad" name="sel_{{loop.index}}" value="{{data.seleccion}}"> ({{loop.index}})<br> 
                                    {% endif %}
                                </td>
                                <td>
                                    {% if data.seleccion == 1 %}
                                        <input type="text" name="orden_{{loop.index}}" id="orden_{{loop.index}}" value="{{data.orden_importancia}}" >                                        
                                    {% else %}
                                        <input type="text" name="orden_{{loop.index}}" id="orden_{{loop.index}}" value="{{data.orden_importancia}}"  disabled>                                        
                                    {% endif %}
                                    
                                </td>
                                <td>
                                    {% if data.seleccion == 1 %}
                                        <input type="text" name="porque_{{loop.index}}" id="porque_{{loop.index}}" value="{{data.por_que}}">
                                    {% else %}
                                        <input type="text" name="porque_{{loop.index}}" id="porque_{{loop.index}}" value="{{data.por_que}}" disabled>
                                    {% endif %}
                                    
                                </td>
                                <td style="display:none;">
                                    <input type="text" name="id_{{loop.index}}" value="{{data.id}}">
                                </td>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>

                </div>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <table class="table table-bordered table-striped ">
                    <tbody>
                        <tr>
                            <td>P12. ANTE LA DISMINUCIÓN DE L MATRÍCULA EN LA GESTIÓN 2017, ¿QUÉ MEDIDAS TOMARON EN LA UNIDAD EDUCATIVA, EN LA GESTIÓN 2018 PARA QUE LNO DISMINUYERA LA INSCRIPCIÓN DE LOS ESTUDIANTES EN LE NIVEL SECUNDARIO?</td>
                        </tr>
                        <tr>
                            {# <td><input class="col-md-12" type="text" name="p12" value="{{po_index[0].p12}}"></td> #}
                            <td> <textarea value="{{po_index[0].p12}}" name="p12" id="" cols="30" rows="10"></textarea></td>
                           
                        </tr>
                        <tr>
                            <td>P13. ¿QUÉ MEDIDAS TOMARIA USTED PARA QUE NO DISMINUYERA LA INSCRIPCIÓN DE LOS ESTUDIANTES EN EL NIVEL SECUNDARIO EN LA GESTIÓN 2019?</td>
                        </tr>
                        <tr>
                            {# <td><input class="col-md-12" type="text" name="p13" value="{{po_index[0].p13}}"></td> #}
                            <td> <textarea value="{{po_index[0].p13}}" name="p13" id="" cols="30" rows="10"></textarea></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">                               
                <button id="botonguardarmodulo" type="submit" class="btn btn-primary btn-block">Guardar y volver</button>                
            </div>
        </div>
        </form>
    </div>    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>

</html>

<script>
$(document).ready(function(){
    $('.escolaridad').change(function(){
        var name = this.name;
        //var nameorden = name.toString();
        var namefil = name.substring(4, name.length);
        var nameorden = "orden_"+namefil;
        var nameporque = "porque_"+namefil;
        //alert(nameporque);
        if (this.checked == true){   
            document.getElementById(nameorden).disabled = false;         
            document.getElementById(nameporque).disabled = false;                     
        } else {
            document.getElementById(nameorden).disabled = true;
            document.getElementById(nameporque).disabled = true;
        }
        
    });
});
</script>